@page "/farms/new"
@using Hurudza.Common.Utils.Models
@using IApiCall = Hurudza.UI.Web.Api.Interfaces.IApiCall
@attribute [Authorize(Roles = "SystemAdministrator,Administrator")]

@inject IApiCall ApiCall
@inject NavigationManager NavigationManager
@inject IJSRuntime JSRuntime

<Toast @ref="Alert" />

<div class="row">
    <div class="col-12">
        <div class="card mb-4">
            <div class="card-header pb-0">
                <div class="d-flex flex-row justify-content-between">
                    <div>
                        <h5 class="mb-0">Create New Farm</h5>
                        <p class="text-sm mb-0">Add a new farm to the system</p>
                    </div>
                    <div>
                        <button class="btn btn-secondary" @onclick="NavigateBack">
                            <i class="fas fa-arrow-left me-2"></i>Back to Farms
                        </button>
                    </div>
                </div>
            </div>
            <div class="card-body">
                @if (isLoading)
                {
                    <div class="text-center py-4">
                        <SfSpinner Size="50"></SfSpinner>
                        <p class="mt-3">Loading data...</p>
                    </div>
                }
                else
                {
                    <EditForm Model="@farm" OnValidSubmit="HandleValidSubmit">
                        <DataAnnotationsValidator />
                        <ValidationSummary />
                        
                        <div class="row mb-3">
                            <div class="col-12">
                                <SfTab>
                                    <TabItems>
                                        <TabItem HeaderText="Basic Information">
                                            <Content>
                                                <div class="p-3">
                                                    <div class="row">
                                                        <div class="col-md-6 mb-3">
                                                            <div class="form-group">
                                                                <label for="name">Farm Name <span class="text-danger">*</span></label>
                                                                <InputText id="name" class="form-control" @bind-Value="farm.Name" />
                                                                <ValidationMessage For="@(() => farm.Name)" />
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6 mb-3">
                                                            <div class="form-group">
                                                                <label for="address">Address <span class="text-danger">*</span></label>
                                                                <InputText id="address" class="form-control" @bind-Value="farm.Address" />
                                                                <ValidationMessage For="@(() => farm.Address)" />
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="row">
                                                        <div class="col-md-4 mb-3">
                                                            <div class="form-group">
                                                                <label for="contactPerson">Contact Person <span class="text-danger">*</span></label>
                                                                <InputText id="contactPerson" class="form-control" @bind-Value="farm.ContactPerson" />
                                                                <ValidationMessage For="@(() => farm.ContactPerson)" />
                                                            </div>
                                                        </div>
                                                        <div class="col-md-4 mb-3">
                                                            <div class="form-group">
                                                                <label for="phoneNumber">Phone Number <span class="text-danger">*</span></label>
                                                                <InputText id="phoneNumber" class="form-control" @bind-Value="farm.PhoneNumber" />
                                                                <ValidationMessage For="@(() => farm.PhoneNumber)" />
                                                            </div>
                                                        </div>
                                                        <div class="col-md-4 mb-3">
                                                            <div class="form-group">
                                                                <label for="email">Email <span class="text-danger">*</span></label>
                                                                <InputText id="email" class="form-control" @bind-Value="farm.Email" />
                                                                <ValidationMessage For="@(() => farm.Email)" />
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="row">
                                                        <div class="col-md-4 mb-3">
                                                            <div class="form-group">
                                                                <label for="website">Website</label>
                                                                <InputText id="website" class="form-control" @bind-Value="farm.Website" />
                                                            </div>
                                                        </div>
                                                        <div class="col-md-4 mb-3">
                                                            <div class="form-group">
                                                                <label for="year">Year Established</label>
                                                                <SfNumericTextBox TValue="int" Format="####" id="year" @bind-Value="farm.Year" Step="1" Min="1900" Max="@DateTime.Now.Year"></SfNumericTextBox>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-4 mb-3">
                                                            <div class="form-group">
                                                                <label for="foundingMembers">Founding Members</label>
                                                                <InputText id="foundingMembers" class="form-control" @bind-Value="farm.FoundingMembers" />
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="row">
                                                        <div class="col-md-12 mb-3">
                                                            <div class="form-group">
                                                                <label for="description">Description</label>
                                                                <InputTextArea id="description" class="form-control" @bind-Value="farm.Description" rows="3" />
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="row">
                                                        <div class="col-md-6 mb-3">
                                                            <div class="form-group">
                                                                <label for="vision">Vision</label>
                                                                <InputTextArea id="vision" class="form-control" @bind-Value="farm.Vision" rows="3" />
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6 mb-3">
                                                            <div class="form-group">
                                                                <label for="mission">Mission</label>
                                                                <InputTextArea id="mission" class="form-control" @bind-Value="farm.Mission" rows="3" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </Content>
                                        </TabItem>
                                        
                                        <TabItem HeaderText="Land Information">
                                            <Content>
                                                <div class="p-3">
                                                    <div class="row">
                                                        <div class="col-md-4 mb-3">
                                                            <div class="form-group">
                                                                <label for="size">Total Size (Hectares)</label>
                                                                <SfNumericTextBox TValue="float" Format="n2" id="size" @bind-Value="farm.Size" Step="1" Min="0"></SfNumericTextBox>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-4 mb-3">
                                                            <div class="form-group">
                                                                <label for="arable">Arable Land (Hectares)</label>
                                                                <SfNumericTextBox TValue="float" Format="n2" id="arable" @bind-Value="farm.Arable" Step="1" Min="0"></SfNumericTextBox>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-4 mb-3">
                                                            <div class="form-group">
                                                                <label for="cleared">Cleared Land (Hectares)</label>
                                                                <SfNumericTextBox TValue="float" Format="n2" id="cleared" @bind-Value="farm.Cleared" Step="1" Min="0"></SfNumericTextBox>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="row">
                                                        <div class="col-md-4 mb-3">
                                                            <div class="form-group">
                                                                <label for="soilType">Soil Type</label>
                                                                <InputText id="soilType" class="form-control" @bind-Value="farm.SoilType" placeholder="e.g. Clay, Sandy, Loamy" />
                                                            </div>
                                                        </div>
                                                        <div class="col-md-4 mb-3">
                                                            <div class="form-group">
                                                                <label for="terrain">Terrain</label>
                                                                <SfDropDownList TValue="Terrain?" TItem="EnumItem" @bind-Value="farm.Terrain" DataSource="@terrainItems">
                                                                    <DropDownListFieldSettings Text="Name" Value="Id"></DropDownListFieldSettings>
                                                                </SfDropDownList>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-4 mb-3">
                                                            <div class="form-group">
                                                                <label for="roadAccess">Road Access</label>
                                                                <SfDropDownList TValue="RoadAccess?" TItem="EnumItem" @bind-Value="farm.RoadAccess" DataSource="@roadAccessItems">
                                                                    <DropDownListFieldSettings Text="Name" Value="Id"></DropDownListFieldSettings>
                                                                </SfDropDownList>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="row">
                                                        <div class="col-md-6 mb-3">
                                                            <div class="form-group">
                                                                <label for="waterSource">Water Source</label>
                                                                <InputText id="waterSource" class="form-control" @bind-Value="farm.WaterSource" placeholder="e.g. Dam, Borehole, River" />
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6 mb-3">
                                                            <div class="form-group">
                                                                <label for="waterAvailability">Water Availability</label>
                                                                <SfDropDownList TValue="WaterAvailability?" TItem="EnumItem" @bind-Value="farm.WaterAvailability" DataSource="@waterAvailabilityItems">
                                                                    <DropDownListFieldSettings Text="Name" Value="Id"></DropDownListFieldSettings>
                                                                </SfDropDownList>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="row">
                                                        <div class="col-md-12 mb-3">
                                                            <div class="form-check">
                                                                <InputCheckbox id="irrigated" class="form-check-input" @bind-Value="farm.Irrigated" />
                                                                <label class="form-check-label" for="irrigated">Has Irrigation</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </Content>
                                        </TabItem>
                                        
                                        <TabItem HeaderText="Location">
                                            <Content>
                                                <div class="p-3">
                                                    <div class="row">
                                                        <div class="col-md-4 mb-3">
                                                            <div class="form-group">
                                                                <label for="latitude">Latitude</label>
                                                                <SfNumericTextBox TValue="double" Format="n7" id="latitude" @bind-Value="farm.Latitude" Step="0.0000001"></SfNumericTextBox>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-4 mb-3">
                                                            <div class="form-group">
                                                                <label for="longitude">Longitude</label>
                                                                <SfNumericTextBox TValue="double" Format="n7" id="longitude" @bind-Value="farm.Longitude" Step="0.0000001"></SfNumericTextBox>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-4 mb-3">
                                                            <div class="form-group">
                                                                <label for="elevation">Elevation (meters)</label>
                                                                <SfNumericTextBox TValue="double" Format="n2" id="elevation" @bind-Value="farm.Elevation" Step="0.01"></SfNumericTextBox>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="row mb-3">
                                                        <div class="col-12">
                                                            <div class="alert alert-info">
                                                                <i class="fas fa-info-circle me-2"></i>
                                                                You can use the map below to select the farm location. Click on the map to set the coordinates.
                                                            </div>
                                                            <div id="location-map" style="height: 400px; width: 100%;" class="border rounded">
                                                                <!-- Map will be loaded here -->
                                                                <div class="d-flex justify-content-center align-items-center h-100">
                                                                    <button class="btn btn-primary" @onclick="LoadMap">
                                                                        <i class="fas fa-map-marker-alt me-2"></i>Load Map
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="row">
                                                        <div class="col-md-6 mb-3">
                                                            <div class="form-group">
                                                                <label for="region">Region</label>
                                                                <SfDropDownList TValue="Region?" TItem="EnumItem" @bind-Value="farm.Region" DataSource="@regionItems">
                                                                    <DropDownListFieldSettings Text="Name" Value="Id"></DropDownListFieldSettings>
                                                                </SfDropDownList>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6 mb-3">
                                                            <div class="form-group">
                                                                <label for="conference">Conference</label>
                                                                <SfDropDownList TValue="Conference?" TItem="EnumItem" @bind-Value="farm.Conference" DataSource="@conferenceItems">
                                                                    <DropDownListFieldSettings Text="Name" Value="Id"></DropDownListFieldSettings>
                                                                </SfDropDownList>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="row">
                                                        <div class="col-md-6 mb-3">
                                                            <div class="form-group">
                                                                <label for="province">Province</label>
                                                                <SfDropDownList TValue="string" TItem="ProvinceViewModel" @bind-Value="farm.ProvinceId" DataSource="@provinces" Placeholder="Select Province" AllowFiltering="true">
                                                                    <DropDownListEvents TValue="string" TItem="ProvinceViewModel" ValueChange="ProvinceChanged"></DropDownListEvents>
                                                                    <DropDownListFieldSettings Text="Name" Value="Id"></DropDownListFieldSettings>
                                                                </SfDropDownList>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6 mb-3">
                                                            <div class="form-group">
                                                                <label for="district">District</label>
                                                                <SfDropDownList TValue="string" TItem="DistrictViewModel" @bind-Value="farm.DistrictId" DataSource="@districts" Placeholder="Select District" AllowFiltering="true">
                                                                    <DropDownListEvents TValue="string" TItem="DistrictViewModel" ValueChange="DistrictChanged"></DropDownListEvents>
                                                                    <DropDownListFieldSettings Text="Name" Value="Id"></DropDownListFieldSettings>
                                                                </SfDropDownList>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="row">
                                                        <div class="col-md-6 mb-3">
                                                            <div class="form-group">
                                                                <label for="localAuthority">Local Authority</label>
                                                                <SfDropDownList TValue="string" TItem="LocalAuthorityViewModel" @bind-Value="farm.LocalAuthorityId" DataSource="@localAuthorities" Placeholder="Select Local Authority" AllowFiltering="true">
                                                                    <DropDownListEvents TValue="string" TItem="LocalAuthorityViewModel" ValueChange="LocalAuthorityChanged"></DropDownListEvents>
                                                                    <DropDownListFieldSettings Text="Name" Value="Id"></DropDownListFieldSettings>
                                                                </SfDropDownList>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6 mb-3">
                                                            <div class="form-group">
                                                                <label for="ward">Ward</label>
                                                                <SfDropDownList TValue="string" TItem="WardViewModel" @bind-Value="farm.WardId" DataSource="@wards" Placeholder="Select Ward" AllowFiltering="true">
                                                                    <DropDownListFieldSettings Text="Name" Value="Id"></DropDownListFieldSettings>
                                                                </SfDropDownList>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </Content>
                                        </TabItem>
                                        
                                        <TabItem HeaderText="School & Additional Info">
                                            <Content>
                                                <div class="p-3">
                                                    <h6 class="mb-3">School Information</h6>
                                                    <div class="row">
                                                        <div class="col-md-3 mb-3">
                                                            <div class="form-group">
                                                                <label for="maleStudents">Male Students</label>
                                                                <SfNumericTextBox TValue="int" Format="n0" id="maleStudents" @bind-Value="farm.MaleStudents" Step="1" Min="0"></SfNumericTextBox>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-3 mb-3">
                                                            <div class="form-group">
                                                                <label for="femaleStudents">Female Students</label>
                                                                <SfNumericTextBox TValue="int" Format="n0" id="femaleStudents" @bind-Value="farm.FemaleStudents" Step="1" Min="0"></SfNumericTextBox>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-3 mb-3">
                                                            <div class="form-group">
                                                                <label for="maleTeachers">Male Teachers</label>
                                                                <SfNumericTextBox TValue="int" Format="n0" id="maleTeachers" @bind-Value="farm.MaleTeachers" Step="1" Min="0"></SfNumericTextBox>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-3 mb-3">
                                                            <div class="form-group">
                                                                <label for="femaleTeachers">Female Teachers</label>
                                                                <SfNumericTextBox TValue="int" Format="n0" id="femaleTeachers" @bind-Value="farm.FemaleTeachers" Step="1" Min="0"></SfNumericTextBox>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="row">
                                                        <div class="col-md-6 mb-3">
                                                            <div class="form-group">
                                                                <label for="dayScholars">Day Scholars</label>
                                                                <SfNumericTextBox TValue="int" Format="n0" id="dayScholars" @bind-Value="farm.DayScholars" Step="1" Min="0"></SfNumericTextBox>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6 mb-3">
                                                            <div class="form-group">
                                                                <label for="boardingScholars">Boarding Scholars</label>
                                                                <SfNumericTextBox TValue="int" Format="n0" id="boardingScholars" @bind-Value="farm.BoardingScholars" Step="1" Min="0"></SfNumericTextBox>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="row">
                                                        <div class="col-md-6 mb-3">
                                                            <div class="form-group">
                                                                <label for="buildings">Buildings</label>
                                                                <InputTextArea id="buildings" class="form-control" @bind-Value="farm.Buildings" rows="2" placeholder="Describe available buildings" />
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6 mb-3">
                                                            <div class="form-group">
                                                                <label for="equipment">Equipment</label>
                                                                <InputTextArea id="equipment" class="form-control" @bind-Value="farm.Equipment" rows="2" placeholder="List major equipment" />
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <h6 class="mb-3 mt-4">Farming Information</h6>
                                                    <div class="row">
                                                        <div class="col-md-6 mb-3">
                                                            <div class="form-group">
                                                                <label for="pastCrops">Past Crops</label>
                                                                <InputTextArea id="pastCrops" class="form-control" @bind-Value="farm.PastCrops" rows="2" placeholder="List past crops grown" />
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6 mb-3">
                                                            <div class="form-group">
                                                                <label for="landManagementPractice">Land Management Practices</label>
                                                                <InputTextArea id="landManagementPractice" class="form-control" @bind-Value="farm.LandManagementPractice" rows="2" placeholder="Describe land management approaches" />
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="row">
                                                        <div class="col-md-12 mb-3">
                                                            <div class="form-group">
                                                                <label for="securityMeasures">Security Measures</label>
                                                                <InputTextArea id="securityMeasures" class="form-control" @bind-Value="farm.SecurityMeasures" rows="2" placeholder="Describe security and fencing" />
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="row">
                                                        <div class="col-md-6 mb-3">
                                                            <div class="form-group">
                                                                <label for="problems">Current Problems</label>
                                                                <InputTextArea id="problems" class="form-control" @bind-Value="farm.Problems" rows="2" placeholder="List current challenges" />
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6 mb-3">
                                                            <div class="form-group">
                                                                <label for="recommendations">Recommendations</label>
                                                                <InputTextArea id="recommendations" class="form-control" @bind-Value="farm.Recommendations" rows="2" placeholder="Suggestions for improvement" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </Content>
                                        </TabItem>
                                    </TabItems>
                                </SfTab>
                            </div>
                        </div>

                        <div class="row mt-4">
                            <div class="col-md-12 text-end">
                                <button type="button" class="btn btn-secondary me-2" @onclick="NavigateBack">Cancel</button>
                                <button type="submit" class="btn btn-primary" disabled="@isSaving">
                                    @if (isSaving)
                                    {
                                        <span class="spinner-border spinner-border-sm me-1" role="status" aria-hidden="true"></span>
                                        <span>Creating Farm...</span>
                                    }
                                    else
                                    {
                                        <span>Create Farm</span>
                                    }
                                </button>
                            </div>
                        </div>
                    </EditForm>
                }
            </div>
        </div>
    </div>
</div>

@code {
    private FarmViewModel farm = new FarmViewModel();
    private Toast Alert;
    private bool isLoading = true;
    private bool isSaving = false;
    private bool mapLoaded = false;
    
    // Dropdown data sources
    private List<ProvinceViewModel> provinces = new();
    private List<DistrictViewModel> districts = new();
    private List<DistrictViewModel> allDistricts = new();
    private List<LocalAuthorityViewModel> localAuthorities = new();
    private List<LocalAuthorityViewModel> allLocalAuthorities = new();
    private List<WardViewModel> wards = new();
    private List<WardViewModel> allWards = new();
    
    // Enum items for dropdowns
    private List<EnumItem> regionItems = new();
    private List<EnumItem> conferenceItems = new();
    private List<EnumItem> terrainItems = new();
    private List<EnumItem> waterAvailabilityItems = new();
    private List<EnumItem> roadAccessItems = new();
    
    protected override async Task OnInitializedAsync()
    {
        // Set default values for the farm
        farm = new FarmViewModel
        {
            Year = DateTime.Now.Year,
            Region = Region.I,
            Conference = Conference.East,
            Terrain = Terrain.Flat,
            RoadAccess = RoadAccess.Dust,
            WaterAvailability = WaterAvailability.Seasonal,
            Latitude = -17.824858, // Default to Zimbabwe center
            Longitude = 31.053028
        };
        
        await LoadEnumItems();
        await LoadLocations();
        isLoading = false;
    }
    
    private async Task LoadEnumItems()
    {
        try
        {
            // Load enum values for the dropdowns
            regionItems = ((Region[])Enum.GetValues(typeof(Region)))
                .Select(r => new EnumItem { Id = (int)r, Name = $"Region {r}" })
                .ToList();
                
            conferenceItems = ((Conference[])Enum.GetValues(typeof(Conference)))
                .Select(c => new EnumItem { Id = (int)c, Name = c.ToString() })
                .ToList();
                
            terrainItems = ((Terrain[])Enum.GetValues(typeof(Terrain)))
                .Select(t => new EnumItem { Id = (int)t, Name = t.ToString() })
                .ToList();
                
            waterAvailabilityItems = ((WaterAvailability[])Enum.GetValues(typeof(WaterAvailability)))
                .Select(w => new EnumItem { Id = (int)w, Name = w.ToString().Replace("YearRound", "Year-round") })
                .ToList();
                
            roadAccessItems = ((RoadAccess[])Enum.GetValues(typeof(RoadAccess)))
                .Select(r => new EnumItem { Id = (int)r, Name = r.ToString() })
                .ToList();
        }
        catch (Exception ex)
        {
            Alert?.Show($"Error loading dropdown options: {ex.Message}", showTitle: true, toastType: ToastType.Danger);
        }
    }
    
    private async Task LoadLocations()
    {
        try
        {
            // Load location data for the dropdowns
            var provincesResponse = await ApiCall.Get<List<ProvinceViewModel>>(
                await ApiCall.GetHttpClient(), "provinces/getprovinces");
            
            if (provincesResponse != null)
            {
                provinces = provincesResponse;
            }
            
            var districtsResponse = await ApiCall.Get<List<DistrictViewModel>>(
                await ApiCall.GetHttpClient(), "districts/getdistricts");
            
            if (districtsResponse != null)
            {
                districts = districtsResponse;
                allDistricts = new List<DistrictViewModel>(districts);
            }
            
            var localAuthoritiesResponse = await ApiCall.Get<List<LocalAuthorityViewModel>>(
                await ApiCall.GetHttpClient(), "localauthorities/getlocalauthorities");
            
            if (localAuthoritiesResponse != null)
            {
                localAuthorities = localAuthoritiesResponse;
                allLocalAuthorities = new List<LocalAuthorityViewModel>(localAuthorities);
            }
            
            var wardsResponse = await ApiCall.Get<List<WardViewModel>>(
                await ApiCall.GetHttpClient(), "wards/getwards");
            
            if (wardsResponse != null)
            {
                wards = wardsResponse;
                allWards = new List<WardViewModel>(wards);
            }
        }
        catch (Exception ex)
        {
            Alert?.Show($"Error loading location data: {ex.Message}", showTitle: true, toastType: ToastType.Danger);
        }
    }
    
    private void ProvinceChanged(ChangeEventArgs<string, ProvinceViewModel> args)
    {
        var provinceId = args.Value;
        
        // Reset dependent fields
        farm.DistrictId = null;
        farm.LocalAuthorityId = null;
        farm.WardId = null;
        
        // Filter districts by selected province
        if (!string.IsNullOrEmpty(provinceId))
        {
            districts = allDistricts
                .Where(d => d.ProvinceId == provinceId)
                .ToList();
        }
        else
        {
            districts = new List<DistrictViewModel>(allDistricts);
        }
        
        // Clear dependent dropdowns
        localAuthorities = new List<LocalAuthorityViewModel>();
        wards = new List<WardViewModel>();
    }
    
    private void DistrictChanged(ChangeEventArgs<string, DistrictViewModel> args)
    {
        var districtId = args.Value;
        
        // Reset dependent fields
        farm.LocalAuthorityId = null;
        farm.WardId = null;
        
        // Filter local authorities by selected district
        if (!string.IsNullOrEmpty(districtId))
        {
            localAuthorities = allLocalAuthorities
                .Where(l => l.DistrictId == districtId)
                .ToList();
                
            // Also filter wards by district
            wards = allWards
                .Where(w => w.DistrictId == districtId)
                .ToList();
        }
        else
        {
            localAuthorities = new List<LocalAuthorityViewModel>(allLocalAuthorities);
            wards = new List<WardViewModel>(allWards);
        }
    }
    
    private void LocalAuthorityChanged(ChangeEventArgs<string, LocalAuthorityViewModel> args)
    {
        var localAuthorityId = args.Value;
        
        // Reset dependent fields
        farm.WardId = null;
        
        // Filter wards by selected local authority
        if (!string.IsNullOrEmpty(localAuthorityId))
        {
            wards = allWards
                .Where(w => w.LocalAuthorityId == localAuthorityId)
                .ToList();
        }
        else if (!string.IsNullOrEmpty(farm.DistrictId))
        {
            // If local authority is cleared, filter by district instead
            wards = allWards
                .Where(w => w.DistrictId == farm.DistrictId)
                .ToList();
        }
        else
        {
            wards = new List<WardViewModel>(allWards);
        }
    }
    
    private async Task LoadMap()
    {
        if (mapLoaded)
            return;
            
        try
        {
            // Initialize the map using JS interop
            await JSRuntime.InvokeVoidAsync("initializeMap", "location-map", new double[] { farm.Longitude, farm.Latitude }, 6);
            
            // Add click handler for map
            await JSRuntime.InvokeVoidAsync("addMapClickHandler", "location-map", DotNetObjectReference.Create(this));
            
            mapLoaded = true;
        }
        catch (Exception ex)
        {
            Alert?.Show($"Error loading map: {ex.Message}", showTitle: true, toastType: ToastType.Danger);
        }
    }
    
    // Method to be called from JavaScript when map is clicked
    [JSInvokable]
    public void UpdateCoordinates(double longitude, double latitude)
    {
        farm.Longitude = longitude;
        farm.Latitude = latitude;
        StateHasChanged();
    }
    
    private async Task HandleValidSubmit()
    {
        try
        {
            isSaving = true;
            
            // Set province, district, etc. properties based on selected IDs
            if (!string.IsNullOrEmpty(farm.ProvinceId))
            {
                var province = provinces.FirstOrDefault(p => p.Id == farm.ProvinceId);
                if (province != null)
                    farm.Province = province.Name;
            }
            
            if (!string.IsNullOrEmpty(farm.DistrictId))
            {
                var district = allDistricts.FirstOrDefault(d => d.Id == farm.DistrictId);
                if (district != null)
                    farm.District = district.Name;
            }
            
            if (!string.IsNullOrEmpty(farm.LocalAuthorityId))
            {
                var localAuthority = allLocalAuthorities.FirstOrDefault(l => l.Id == farm.LocalAuthorityId);
                if (localAuthority != null)
                    farm.LocalAuthority = localAuthority.Name;
            }
            
            if (!string.IsNullOrEmpty(farm.WardId))
            {
                var ward = allWards.FirstOrDefault(w => w.Id == farm.WardId);
                if (ward != null)
                    farm.Ward = ward.Name;
            }
            
            // Call API to create farm
            var response = await ApiCall.Add<ApiResponse<FarmViewModel>, FarmViewModel>(
                await ApiCall.GetHttpClient(), "Farms/CreateFarm", farm);
                
            if (response?.Status == (int)HttpStatusCode.OK)
            {
                Alert?.Show("Farm created successfully", showTitle: true, toastType: ToastType.Success);
                await Task.Delay(1000); // Small delay to let user see the success message
                
                // Navigate to the new farm page
                if (response.Result?.Id != null)
                {
                    NavigationManager.NavigateTo($"/farm/{response.Result.Id}");
                }
                else
                {
                    NavigationManager.NavigateTo("/farms");
                }
            }
            else
            {
                Alert?.Show(response?.Title ?? "Error creating farm", showTitle: true, toastType: ToastType.Danger);
            }
        }
        catch (Exception ex)
        {
            Alert?.Show($"Error: {ex.Message}", showTitle: true, toastType: ToastType.Danger);
        }
        finally
        {
            isSaving = false;
        }
    }
    
    private void NavigateBack()
    {
        NavigationManager.NavigateTo("/farms");
    }
}